PORT=8100
BACNET_PORT=47808
POLL_MS=5000
PG_URL=postgres://user:password@localhost:5432/mydb
PG_TABLE=bacnet_history
# Optional default target network/broadcast
BACNET_WHOIS_LOW=0
BACNET_WHOIS_HIGH=4194303
